<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="text-center">
      <h1 class="pt-4 text-success fw-bolder">TECH-BLOG</h1>
      <h5 class="text-warning fw-bolder">Express Yourself</h5>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h2>Latest Post</h2>
          <small class="text-success">Frederic Lardinois</small>
          <img class="mt-2 img-fluid" src="img/bing_new_day.webp" alt="" />
        </div>
        <div class="col-lg-4 d-flex flex-column justify-content-evenly">
          <div>
            <h4>
              Second Post Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, placeat.
            </h4>
            <small class="text-success"> Haje Jan Kamps</small>
            <hr />
          </div>
          <div>
            <h4>Third Post Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
            <small class="text-success"> Haje Jan Kamps</small>
            <hr />
          </div>
          <div>
            <h4>Fourth Post Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
            <small class="text-success"> Haje Jan Kamps</small>
          </div>
        </div>
      </div>
      <section>
        <h4 class="pt-5">Big news</h4>
        <div class="row mt-4">
          <hr />
          <div class="col-lg-4">
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident d</h3>
            <small class="text-success d-block mt-4"> Haje Jan Kamps</small>
            <small class="text-muted d-block"> 7:27 AM GMT-3•February 10, 2023</small>
          </div>
          <p class="col-lg-4 text-body-tertiary">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos labore magni
            veniam ipsam architecto quaerat perferendis pariatur dolores reprehenderit reiciendis,
            voluptas rem praesentium excepturi expedita minima eos porro inventore maxime?
          </p>
          <img src="img/bing_new_day.webp" class="col-lg-4 img-fluid" />
        </div>
        <div class="row mt-4">
          <hr />
          <div class="col-lg-4">
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident d</h3>
            <small class="text-success d-block mt-4"> Haje Jan Kamps</small>
            <small class="text-muted d-block"> 7:27 AM GMT-3•February 10, 2023</small>
          </div>
          <p class="col-lg-4 text-body-tertiary">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos labore magni
            veniam ipsam architecto quaerat perferendis pariatur dolores reprehenderit
          </p>
          <img src="img/bing_new_day.webp" class="col-lg-4 img-fluid" />
        </div>
        <div class="row mt-4">
          <hr />
          <div class="col-lg-4">
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident d</h3>
            <small class="text-success d-block mt-4"> Haje Jan Kamps</small>
            <small class="text-muted d-block"> 7:27 AM GMT-3•February 10, 2023</small>
          </div>
          <p class="col-lg-4 text-body-tertiary">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos labore magni
            veniam ipsam architecto quaerat perferendis pariatur dolores reprehenderit reiciendis,
            voluptas rem praesentium excepturi expedita minima
          </p>
          <img src="img/bing_new_day.webp" class="col-lg-4 img-fluid" />
        </div>
      </section>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
