<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <!--  CSS BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- CSS FONT AWSOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container mt-5 w-75">
      <h1>Title Of Article</h1>
      <small class="text-success"> Haje Jan Kamps </small>
      <small class="text-muted"> / 7:27 AM GMT-3•February 10, 2023</small>
      <img class="img-fluid mt-2" src="/img/bing_new_day.webp" alt="" />
      <p class="mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime eos sequi et facilis
        veritatis, eum tempora quis. Culpa tempore quis harum expedita voluptatibus vitae nobis,
        adipisci atque fuga, incidunt recusandae.lorem Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Odio recusandae, dolorum alias blanditiis minus nemo maiores impedit
        asperiores ducimus molestiae quaerat harum? Quas suscipit mollitia sapiente ipsam rem
        accusantium provident.
      </p>
      <hr class="text-success my-4" />
      <hr class="border border-dark border-1 opacity-75 my-4" />
      <!-- COMMENTS -->
      <div>
        <h4 class="mt-5">Conversation</h4>
        <hr />
        <p>
          Welcome to TechCrunch comments! Please keep conversations courteous and on-topic. See our
          <small class="text-success">community guidelines</small> for more information.
        </p>
      </div>

      <a href="/articulos"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
